<div
    class="min-h-screen py-8 bg-gradient-to-br from-sky-100 via-blue-50 to-indigo-100 flex items-center justify-center">

    <div class="w-full max-w-lg bg-white/90 backdrop-blur rounded-2xl px-6 py-8 shadow-2xl border border-white">

        <img src="/images/logo2.JPG" width="220" class="mx-auto mb-4" alt="logo">

        <h2 class="text-center font-bold text-2xl text-slate-800 mb-6">
            Login To Your Account
        </h2>

        <form class="space-y-4" [formGroup]="signinForm" (ngSubmit)="submitForm()">

            <!-- Email -->
            <div>
                <label class="block mb-1 text-sm font-medium text-slate-700">Email</label>
                <input type="email" formControlName="email" placeholder="Enter your email"
                    class="w-full rounded-lg border border-slate-300 bg-slate-50 px-3 py-2.5 text-sm
                   placeholder:text-gray-400 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition" />

                @if (signinForm.get('email')?.touched) {
                <div class="errors mt-1">
                    @if (signinForm.get('email')?.getError('required'))
                    {
                    <div class="flex items-start sm:items-center py-2 px-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
                        role="alert">
                        <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        <p>Required field</p>
                    </div>
                    }
                    @if (signinForm.get('email')?.getError('email'))
                    {
                    <div class="flex items-start sm:items-center py-2 px-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
                        role="alert">
                        <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        <p>Please enter a valid email</p>
                    </div>
                    }
                </div>
                }
            </div>

            <!-- Password -->
            <div>
                <label class="block mb-1 text-sm font-medium text-slate-700">Password</label>
                <div class="relative">
                    <input [type]="showPassword() ? 'text' : 'password'" formControlName="password"
                        placeholder="Password"
                        class="w-full rounded-lg border border-slate-300 bg-slate-50 px-3 py-2.5 pr-10 text-sm
                             placeholder:text-gray-400 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 outline-none transition" />

                    <i class="fa-solid cursor-pointer text-slate-500 hover:text-blue-500 transition
                             absolute right-3 top-1/2 -translate-y-1/2"
                        [ngClass]="showPassword() ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePassword()"></i>
                </div>


                @if (signinForm.get('password')?.touched) {
                <div class="errors mt-1">
                    @if (signinForm.get('password')?.getError('required'))
                    {
                    <div class="flex items-start sm:items-center py-2 px-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
                        role="alert">
                        <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        <p>Required field</p>
                    </div>
                    }
                    @if (signinForm.get('password')?.getError('pattern'))
                    {
                    <div class="flex items-start sm:items-center py-2 px-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft"
                        role="alert">
                        <ul class="mt-1.5 list-disc list-inside">
                            <li>At least <strong>8 characters</strong> long</li>
                            <li>Contains <strong>one uppercase letter</strong> (A–Z)</li>
                            <li>Contains <strong>one lowercase letter</strong> (a–z)</li>
                            <li>Contains <strong>one number</strong> (0–9)</li>
                            <li>Contains <strong>one special character</strong>
                                (<code># ? ! @ $ % ^ & * -</code>)
                            </li>
                        </ul>
                    </div>
                    }
                </div>
                }
            </div>

            <!-- Submit Button -->
            <button type="submit" [disabled]="!signinForm.valid" class="w-full mt-6 py-3 rounded-xl font-semibold text-white text-sm
            bg-gradient-to-r from-purple-500 to-indigo-500
            hover:from-purple-600 hover:to-indigo-600
            focus:outline-none focus:ring-2 focus:ring-purple-300
            disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer
            transition-all duration-300 shadow-lg">
                Login
            </button>

        </form>

        <div class="my-3 text-center">
            <a class="hover:text-blue-500 hover:underline" [routerLink]="['/signup']">Create New Account</a>
        </div>
    </div>
</div>