<!-- Profile Header -->
<div class="relative p-6 mb-6">

    <!-- Profile Image Wrapper -->
    <div class="relative w-36 h-36 mx-auto">
        <img (click)="toggleImage()" [src]="userInfo().photo" alt="Profile"
            class="w-36 h-36 rounded-full object-cover border-4 border-white shadow-md cursor-pointer" />

        <!-- Camera Button -->
        <button (click)="openModal()" class="absolute bottom-1 right-1 bg-slate-800 hover:bg-slate-700 text-white
               w-10 h-10 rounded-full flex items-center justify-center shadow-lg transition cursor-pointer">
            <i class="fa-solid fa-camera text-sm"></i>
        </button>
    </div>

    <!-- User Info -->
    <div class="text-center mt-4">
        <h2 class="text-xl font-semibold text-slate-800">
            {{ userInfo().name }}
        </h2>
    </div>
</div>

<!-- upload photo Modal Overlay -->
@if (isOpen()) {
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/50">

    <!-- Modal Card -->
    <div class="bg-white w-full max-w-lg rounded-xl shadow-lg p-6 relative">

        <!-- Close -->
        <button (click)="closeModal()"
            class="absolute top-3 right-3 text-gray-400 hover:text-gray-600 text-xl cursor-pointer">
            ✕
        </button>

        <!-- Header -->
        <h2 class="text-xl font-semibold text-gray-800 mb-4">
            Change Profile Picture
        </h2>

        <div class="flex items-center justify-center w-full rounded-lg border border-gray-300 mb-4">
            <label for="dropzone-file"
                class="flex flex-col items-center justify-center w-full h-64 bg-neutral-secondary-medium border border-dashed border-default-strong rounded-base cursor-pointer hover:bg-neutral-tertiary-medium">
                <div class="flex flex-col items-center justify-center text-body pt-5 pb-6">
                    <svg class="w-8 h-8 mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 17h3a3 3 0 0 0 0-6h-.025a5.56 5.56 0 0 0 .025-.5A5.5 5.5 0 0 0 7.207 9.021C7.137 9.017 7.071 9 7 9a4 4 0 1 0 0 8h2.167M12 19v-9m0 0-2 2m2-2 2 2" />
                    </svg>
                    <p class="mb-2 text-sm"><span class="font-semibold">Click to upload</span></p>
                </div>
                <input (change)="captureImage($event)" id="dropzone-file" type="file" class="hidden" />
            </label>
        </div>


        <!-- Buttons -->
        <div class="flex justify-center gap-3">
            <button (click)="closeModal()"
                class="px-4 py-2 rounded-lg font-semibold bg-gray-200 text-gray-700 hover:bg-gray-300 cursor-pointer">
                Cancel
            </button>

            <button (click)="uploadProfilePhoto()" class="px-4 py-2 rounded-lg font-semibold text-white bg-gradient-to-r from-purple-500 to-indigo-500
                hover:from-purple-600 hover:to-indigo-600
                focus:outline-none focus:ring-2 focus:ring-purple-300  cursor-pointer">
                Change
            </button>
        </div>

    </div>
</div>
}

<!-- Image Overlay -->
@if (imageOpened()) {
<div class="fixed inset-0 bg-black/90 z-50 flex items-center justify-center" (click)="toggleImage()">

    <!-- Close Button -->
    <button class="absolute top-5 right-5 text-white text-2xl" (click)="toggleImage(); $event.stopPropagation()">
        <i class="fa-solid fa-xmark cursor-pointer hover:text-red-500"></i>
    </button>

    <!-- Image -->
    <img [src]="userInfo().photo" class="max-w-[90%] max-h-[90%] object-contain rounded-lg"
        (click)="$event.stopPropagation()" />
</div>
}